<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<!-- ******************************************************************************
*
* Copyright © Bentley Systems, Incorporated. All rights reserved.
*
****************************************************************************** -->
<plugin id="com.bentley.html5.metadata-map" version="1.2">
    <require plugin="org.dita.html5"/>
    
    <feature extension="package.version" value="1.2.0" />
    <feature extension="package.support.name" value="Jason Coleman"/>
    <feature extension="package.support.email" value="jason.coleman@bentley.com"/>
    
    <feature extension="ant.import" file="build_resourceID-map.xml"/>
    <feature extension="depend.preprocess.post" value="bentley:resourceID-map"/>
    <feature extension="dita.xsl.messages" file="resource/messages.xml"/>
    
    <transtype name="html5" desc="Bentley HTML5"><!--  extends="html5" -->
        <param name="args.metadata-map.name" desc="Specifies output file name for the metadata map file" type="string">
            <val default="true">resourceids</val>
        </param>
        <param name="args.metadata-map.outdir" desc="Specifies output folder for the metadata map file" type="string">
            <val default="true">js</val>
        </param>
    </transtype>
</plugin>
